.firstContainer {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  padding-top: 5%;
}

.firstText {
  font-family: "Itoya-Bold";
  font-size: 25px;
  font-weight: 600;
  line-height: 42px;
  color: #4c696d;
}
.secText {
  font-family: "Itoya-Light";
  font-size: 15px;
  line-height: 23px;
  color: #000000;
}

.card {
  display: flex;
  flex-direction: column;
  width: 22%;
  /* background-color: #ddf8f3; */
  padding: 1%;
  border-radius: 10px;
  opacity: 1;
  box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.39);
}

.iconContainer {
  display: flex;
  flex-direction: row;
}

.dText {
  font-family: "K2D";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 159%;
  color: #000000;
}

.sTitle {
  font-family: "K2D";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 159%;
  color: #4c696d;
}
