.unorderedList {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  width: 40%;
  justify-content: space-between;
  list-style: none;
  padding-left: 2%;
}

.btn {
  background: linear-gradient(180deg, #017b96 0%, #1e4047 100%);
  color: #ffffff;
  width: 40%;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.btnContainer {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 2%;
}

.appBar {
  background-color: #131514;
  width: 100%;
  box-shadow: none;
}
